<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Vision</h4>
                    <p class="text-muted">To inspire organizations globally to excel in their goals by means of leadership development.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Mission</h4>
                    <p class="text-muted">Coming alongside organizations to form a Clear Vision, Clear Path & Clear Steps to make new leaders within their structures. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Values</h4>
                    <p class="text-muted">1.3.9 values simplicity, being learners, serving and modeling all that we teach. </p>
                </div>
            </div>
        </div>
    </section>